.card {
	height: 189px;
	/*width: 100%;*/
	background: red;
	border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50);
}

.jumbo-number {
    text-align: center;
	font-size: 80px;
	font-family: Arial;
}

.fact-text {
    margin-top: 23px;
    line-height: 1.1;
	color: white;
	font-size: 20px;
	font-weight: 200;
}